/* RESET ******************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 20px 30px;
}
/**************************************************************/

/* HEADER *****************************************************/
.header {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.title_a {
  display: none;
}

.nav_ul {
  display: flex;
  list-style: none;
}

.nav_li {
  padding: 0 10px;
}

.nav_a {
  text-decoration: none;
}
/**************************************************************/

/* CITIES *****************************************************/
.citiesSidebar_cities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.citiesSidebar_a {
  border: 1px solid #333;
  margin: 10px 3px 0;
  padding: 10px;
  width: 48%;
}

.citiesSidebar_card {
  display: flex;
  justify-content: center;
}
/**************************************************************/

/* SELECTED CITIES ********************************************/
.selectedCity_main {
  border: 1px solid #333;
  margin: 20px 3px 0;
  padding: 10px;
  width: 100%;
  min-height: 300px;
}

.selectedCity_heading {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.createPost {
  border: 1px solid #333;
  padding: 10px;
}

.createPost_open {
  margin: 10px;
}
/**************************************************************/


/* POSTS ******************************************************/
/* .posts { */
  /* border: 1px solid #333; */
  /* padding: 10px; */
/* } */

.posts_post {
  list-style: none;
  border: 1px solid #333;
  margin-bottom: 10px;
  padding: 10px;
}

.posts_heading {
  margin-bottom: 10px;
}

.posts_postTitle {
  margin-bottom: 5px;
}
/**************************************************************/


/* POST (see a single post) ***********************************/
.post {
  border: 1px solid #333;
  padding: 20px 20px 10px;
}

.post_title,
.post_city,
.post_author,
.post_pubdate,
.post_body {
  margin-bottom: 10px;
}
/**************************************************************/